////
/// Colors
////

// Better colors for development
//-------------------------------------

$gray:                    #495057;
$red:                     #f03e3e;
$pink:                    #d6336c;
$grape:                   #ae3ec9;
$violet:                  #7048e8;
$indigo:                  #4263eb;
$blue:                    #1c7cd6;
$cyan:                    #1098ad;
$teal:                    #0ca678;
$green:                   #37b24d;
$lime:                    #74b816;
$yellow:                  #f59f00;
$orange:                  #f76707;


// Site color
//-------------------------------------

$color-primary:           #3A6A91 !default;

$color-secondary:         #F5F9FC !default;

$color-black:             #262A2C !default;

$color-quaternary:        #DF3636 !default;

$color-grey:              #656361 !default;

$title-color:             #262A2C !default;
$title-link-color:        #262A2C !default;
$text-color:              #262A2C !default;
$link-color:              #262A2C !default;
$background-color:        #262A2C !default;
